* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   position: relative;
   width: 1140px;
   margin: 0 auto;
}

.promo {
   height: 800px;
   background: url("../img/main_bg.jpeg") center center/cover no-repeat;
   padding: 40px 0 60px 0;
}

.logo .logo-img {
   display: block;
   margin: 0 auto;
}

.logo .logo-text {
   color: rgb(255, 255, 255);
   margin-top: 9px;
   /*font-family: Roboto;*/
   font-size: 15px;
   font-weight: 500;
   text-align: center;
   text-transform: uppercase;
}

h1 {
   margin-top: 53px;
   line-height: 41px;
}

.title {
   color: rgb(249, 191, 59);
   /*font-family: Roboto;*/
   font-size: 41px;
   font-weight: 900;
   text-align: center;
   text-transform: uppercase;
}

h2.title {
   margin-top: 20px;
   line-height: 41px;
}

.simple .title-big {
   color: rgb(255, 255, 255);
   /*font-family: Roboto;*/
   font-size: 80px;
   font-weight: 900;
   text-align: center;
   text-transform: uppercase;
   margin-top: 20px;
   line-height: 59px;
}

.promo .promo-text {
   padding: 0 13px;
   margin-top: 23px;
   color: rgb(255, 255, 255);
   /*font-family: Roboto;*/
   font-size: 21px;
   font-weight: 300;
   line-height: 28px;
   text-align: center;
}

.promo .promo-text span {
   color: rgb(249, 191, 59);
   /*font-family: Roboto;*/
   font-weight: 700;
}

.promo .promo-btn,
.gift .gift-btn {
   display: block;
   margin: 70px auto;
   width: 313px;
   height: 72px;
   border: 2px solid rgb(0, 0, 0, 0.1);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.18);
   background: linear-gradient(0deg, rgb(39, 152, 185), rgb(58, 182, 218) 100%);
   color: rgb(255, 255, 255);
   /*font-family: RobotoCondensed;*/
   font-size: 21px;
   font-weight: 400;
   text-transform: uppercase;
   cursor: pointer;
}

.gift .gift-btn {
   margin: 51px auto 0 auto;
}

.more .more-text {
   color: rgb(255, 255, 255);
   /*font-family: Roboto;*/
   font-size: 15px;
   font-weight: 250;
   text-transform: uppercase;
   text-align: center;
}

.more .more-img {
   display: block;
   margin: 13px auto 0 auto;
}

.waiting {
   min-height: 607px;
   background: rgb(239, 239, 239);
   padding: 88px 0 75px 0;
}

.waiting .waiting-header,
.finish .finish-header,
.first .first-header {
   color: rgb(37, 37, 37);
   font-family: Roboto;
   font-size: 30px;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
}

.finish .finish-header {
   color: #fff;
}

.waiting .waiting-divider,
.finish .finish-divider {
   width: 220px;
   height: 7px;
   background: rgb(249, 191, 59);
   margin: 18px auto 0 auto;
}

.waiting .waiting-subheader {
   color: rgb(74, 74, 74);
   font-family: Roboto;
   font-size: 23px;
   font-weight: 400;
   text-align: center;
   margin: 18px auto 0 auto;
}

.waiting .waiting-wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 45px;
}

.waiting .waiting-wrapper .waiting-item {
   width: 339px;
   text-align: center;
}

.waiting .waiting-wrapper .waiting-item .waiting-img {
   width: 100%;
}

.waiting .waiting-wrapper .waiting-item .waiting-descr {
   margin-top: 26px;
   color: rgb(74, 74, 74);
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   line-height: 21px;
}

.optimization {
   min-height: 550px;
   padding: 108px 0 107px 0;
}

.optimization .optimization-header {
   margin-left: 391px;
   color: rgb(41, 156, 189);
   font-family: Roboto;
   font-size: 28px;
   font-weight: 900;
   text-transform: uppercase;
}

.optimization .optimization-text {
   margin-left: 391px;
   margin-top: 25px;
   color: #4a4a4a;
   font-family: Roboto;
   font-size: 17px;
   font-weight: 300;
   line-height: 27px;
}

.optimization .optimization-text span {
   font-family: "Roboto-Bold";
   font-weight: 700;
}

.optimization .optimization-img {
   position: absolute;
   top: -54px;
   left: -240px;
   z-index: -1;
}

.finish {
   min-height: 447px;
   padding: 86px 0 79px 0;
   background: url("../img/second_bg.png") center center/cover no-repeat;
}

.finish .finish-wrapper {
   margin-top: 41px;
   display: flex;
   justify-content: space-between;
}

.finish .finish-wrapper .finish-item {
   width: 204px;
}

.finish .finish-wrapper .finish-item .finish-round {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 115px;
   height: 115px;
   background-color: #b4e2ff;
   border-radius: 100%;
}

.finish .finish-wrapper .finish-item .finish-descr {
   margin-top: 25px;
   text-align: center;
   color: rgb(239, 239, 239);
   font-family: Roboto;
   font-size: 17px;
   font-weight: 300;
}

.gift {
   min-height: 631px;
   padding: 86px 0 88px 0;
   background: rgb(239, 239, 239);
}

.gift .gift-logo {
   display: block;
   margin: 0 auto;
}

.gift .gift-text {
   margin-top: 45px;
   color: rgb(37, 37, 37);
   font-family: Roboto;
   font-size: 30px;
   font-weight: 400;
   line-height: 43px;
   text-align: center;
}

.first {
   min-height: 512px;
   padding: 89px 0 52px 0;
}

.first .first-logo {
   display: block;
   margin: 0 auto;
}

.first .first-header {
   margin-top: 36px;
}

.first .first-subheader {
   margin-top: 30px;
   color: rgb(41, 156, 189);
   font-family: Roboto;
   font-size: 36px;
   font-weight: 900;
   text-align: center;
   text-transform: uppercase;
}

.first .first-text {
   margin-top: 25px;
   color: rgb(74, 74, 74);
   font-family: Roboto;
   font-size: 23px;
   font-weight: 400;
   text-align: center;
}

footer {
   min-height: 166px;
   background-color: #1a1a1a;
   padding: 61px 0 69px 0;
}

.info {
   margin: 0 auto;
   width: 377px;
   text-align: center;
   color: #888888;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   line-height: 21px;
}

footer a {
   color: #888888;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   line-height: 21px;
   text-decoration: none;
}

.underlined {
   text-decoration: underline;
}
